In [1]:
import pandas as pd

In [2]:
pd.Series([100,200,300,400,500])

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [6]:
car_rg=pd.Series([200,300,400,500,600])

In [7]:
car_rg

0    200
1    300
2    400
3    500
4    600
dtype: int64

In [9]:
car_rg.values

array([200, 300, 400, 500, 600], dtype=int64)

In [10]:
car_rg.index# give start value stop value and step b/w them

RangeIndex(start=0, stop=5, step=1)

# assign  index

In [11]:
car_rg=pd.Series([200,300,400,500,600],index=["one","two","three","four","five"])

In [12]:
car_rg

one      200
two      300
three    400
four     500
five     600
dtype: int64

In [14]:
car_rg.index

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

# assign name

In [15]:
car_rg=pd.Series([200,300,400,500,600],index=["one","two","three","four","five"],name="the average range of cars")

In [16]:
car_rg

one      200
two      300
three    400
four     500
five     600
Name: the average range of cars, dtype: int64

# temperature during whole week

In [17]:
temp=pd.Series([45,47,46,48,49,42,40],index=["monday","tuesday","wednesday","thursday","friday","saturday","sunday"],name="temperature during whole week")

In [18]:
temp

monday       45
tuesday      47
wednesday    46
thursday     48
friday       49
saturday     42
sunday       40
Name: temperature during whole week, dtype: int64

In [19]:
# access data

In [20]:
temp[2]

46

In [22]:
temp[[2,3,5]]# the method to get list of data

wednesday    46
thursday     48
saturday     42
Name: temperature during whole week, dtype: int64

In [23]:
temp["friday"]

49

In [24]:
temp<60# give value of bool

monday       True
tuesday      True
wednesday    True
thursday     True
friday       True
saturday     True
sunday       True
Name: temperature during whole week, dtype: bool

In [25]:
temp<60 and temp>45

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [26]:
temp.empty# determine wether the series is empty or not

False

In [31]:
#item() method is used when have to single value

In [32]:
s = pd.Series([42])
if len(s) == 1:
    value = s.item()
    print(value)  # 42
else:
    print("Series does not contain a single element.")

42

In [33]:
if len(temp)==1:
    value=temp.item()
    print(value)
else:
    print("series have no single value")

series have no single value

In [36]:
len(car_rg)

5

In [37]:
temp.any()

True

In [38]:
temp

monday       45
tuesday      47
wednesday    46
thursday     48
friday       49
saturday     42
sunday       40
Name: temperature during whole week, dtype: int64

In [40]:
"""n Python, the truth value of an object is determined by its boolean interpretation. The following rules apply:

Numeric values: Any non-zero numeric value is considered True, while zero is considered False.
Boolean values: True is considered True, and False is considered False.
None: None is considered False.
Strings and other sequences: An empty sequence (e.g., an empty string) is considered False, while a non-empty sequence is considered True"""

'n Python, the truth value of an object is determined by its boolean interpretation. The following rules apply:\n\nNumeric values: Any non-zero numeric value is considered True, while zero is considered False.\nBoolean values: True is considered True, and False is considered False.\nNone: None is considered False.\nStrings and other sequences: An empty sequence (e.g., an empty string) is considered False, while a non-empty sequence is considered True'

In [41]:
# any()
s=pd.Series([0,1,0])
s

0    0
1    1
2    0
dtype: int64

In [42]:
s.any()

True

In [43]:
s=pd.Series([0,0,0])
s

0    0
1    0
2    0
dtype: int64

In [45]:
s.any()# sine all have zero value no have non-zero value

False

In [46]:
f=pd.Series([])
f

<ipython-input-46-dd1fd8ecbd15>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  f=pd.Series([])

Series([], dtype: float64)

In [47]:
f.any()

False

In [51]:
f.empty

True

In [53]:
#all()
#This method returns a boolean value indicating whether all elements in the Series are True. If all elements are True, it will return True; otherwise, it will return False

In [54]:
s.all()

False

In [55]:
m=pd.Series([True,True,True])
m

0    True
1    True
2    True
dtype: bool

In [56]:
m.all()

True

In [60]:
m.empty

False

In [61]:
m.any()

True

# ARITHEM OPERATION

In [62]:
temp*2

monday       90
tuesday      94
wednesday    92
thursday     96
friday       98
saturday     84
sunday       80
Name: temperature during whole week, dtype: int64

In [63]:
temp**4

monday       4100625
tuesday      4879681
wednesday    4477456
thursday     5308416
friday       5764801
saturday     3111696
sunday       2560000
Name: temperature during whole week, dtype: int64

In [64]:
temp/3

monday       15.000000
tuesday      15.666667
wednesday    15.333333
thursday     16.000000
friday       16.333333
saturday     14.000000
sunday       13.333333
Name: temperature during whole week, dtype: float64

In [66]:
"A" in temp

False

In [67]:
"monday" in temp

True

In [68]:
temp+temp

monday       90
tuesday      94
wednesday    92
thursday     96
friday       98
saturday     84
sunday       80
Name: temperature during whole week, dtype: int64

In [69]:
s+s

0    0
1    0
2    0
dtype: int64

In [70]:
temp*temp

monday       2025
tuesday      2209
wednesday    2116
thursday     2304
friday       2401
saturday     1764
sunday       1600
Name: temperature during whole week, dtype: int64

In [71]:
import numpy as np

In [72]:
arr=np.array([2,3,5,6])
arr

array([2, 3, 5, 6])

In [73]:
ser=pd.Series(arr)

In [74]:
ser

0    2
1    3
2    5
3    6
dtype: int32

In [75]:
shedule={"monday":"office work","tuesday":"persenattion work","wednesday":"house work","thursday":"headache work","friday":"","saturday":"off","sunday":"relax"}

In [76]:
shedule

{'monday': 'office work',
 'tuesday': 'persenattion work',
 'wednesday': 'house work',
 'thursday': 'headache work',
 'friday': '',
 'saturday': 'off',
 'sunday': 'relax'}

In [77]:
ser=pd.Series(shedule)

In [78]:
ser

monday             office work
tuesday      persenattion work
wednesday           house work
thursday         headache work
friday
saturday                   off
sunday                   relax
dtype: object

In [79]:
ser.empty

False

In [83]:
print(ser.any())

office work

In [82]:
ser.all()

''

In [85]:
#temp+ser# should have same data type

In [86]:
n=pd.Series([2,4,5,6,6])
m=pd.Series([2,9,6,7])

In [87]:
n+m

0     4.0
1    13.0
2    11.0
3    13.0
4     NaN
dtype: float64

In [89]:
n=pd.Series([2,4,5,6,6],index=[2,3,4,5,6])
m=pd.Series([2,9,6,7],index=[2,3,4,5])

In [90]:
n+m

2     4.0
3    13.0
4    11.0
5    13.0
6     NaN
dtype: float64

In [91]:
n=pd.Series([2,4,5,6,6],index=[2,3,4,5,6])
m=pd.Series([2,9,6,7],index=[2,3,9,5])# index will also increase

In [92]:
n+m

2     4.0
3    13.0
4     NaN
5    13.0
6     NaN
9     NaN
dtype: float64